body{
    background-color: lightblue;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2em;
}

nav{
    justify-content: space-between;
}
nav ul{
    list-style: none;

}

nav h3{
    font-size: 25px;
}

h1 {
    justify-content: center;
    margin-top: 2px;
    font-size: 50px;
}
.content{
    max-width: 500px;
    margin: auto;
    font-size: large;
}

p{ 
    background-color: #eee;
    width: 300px;
    border: 15px solid navy;
    padding: 50px;
    margin: auto;
    font-size: 30px;
}